.env
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Logs
*.log
discord.log

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Misc
.mypy_cache/
.cache/

# Python virtualenvs
env/
venv/

# Google service account credentials
service_account.json
google-service-account.json
andrew-guild-6f839bc2ace2.json
google_sheet_credentials/

# Local bot data
configs/